---
http_interactions:
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/workspace_groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"b68ddee0bd8ae70309f85549b2ebe101"
    body:
      encoding: UTF-8
      string: '{"count":390,"results":[{"key":"workspace_groups","id":"2186095"},{"key":"workspace_groups","id":"2186105"},{"key":"workspace_groups","id":"2186115"},{"key":"workspace_groups","id":"2310465"},{"key":"workspace_groups","id":"2690565"},{"key":"workspace_groups","id":"2336765"},{"key":"workspace_groups","id":"2193795"},{"key":"workspace_groups","id":"2186125"},{"key":"workspace_groups","id":"2186135"},{"key":"workspace_groups","id":"2186145"},{"key":"workspace_groups","id":"2186155"},{"key":"workspace_groups","id":"2186165"},{"key":"workspace_groups","id":"2186175"},{"key":"workspace_groups","id":"2186185"},{"key":"workspace_groups","id":"2186195"},{"key":"workspace_groups","id":"2186205"},{"key":"workspace_groups","id":"2648305"},{"key":"workspace_groups","id":"2186215"},{"key":"workspace_groups","id":"2186225"},{"key":"workspace_groups","id":"2186235"}],"workspace_groups":{"2186095":{"created_at":"2019-08-19T09:41:55-07:00","updated_at":"2020-04-21T04:26:22-07:00","name":"3AYEZ
        INC.","company":true,"contact_name":"Abdel Morsy","email":"abdel@3ayez.com","phone_number":"","address":"","website":"","notes":null,"id":"2186095"},"2186105":{"created_at":"2019-08-19T09:41:55-07:00","updated_at":"2020-04-21T04:28:16-07:00","name":"3DBEAR
        INC.","company":true,"contact_name":"Jussi Kajala","email":"jussi@3dbear.io","phone_number":null,"address":null,"website":null,"notes":null,"id":"2186105"},"2186115":{"created_at":"2019-08-19T09:41:55-07:00","updated_at":"2020-04-21T04:29:23-07:00","name":"3SCAN
        INC.","company":true,"contact_name":"3scan Team","email":"invoices@3scan.com","phone_number"[...]
