---
http_interactions:
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/workspace_groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"7a36eb76a12f1de4c3140de0d818430f"
    body:
      encoding: UTF-8
      string: '{"count":604,"results":[{"key":"workspace_groups","id":"2186095"},{"key":"workspace_groups","id":"2186105"},{"key":"workspace_groups","id":"2186115"},{"key":"workspace_groups","id":"2876415"},{"key":"workspace_groups","id":"3100125"},{"key":"workspace_groups","id":"3005215"},{"key":"workspace_groups","id":"2310465"},{"key":"workspace_groups","id":"2690565"},{"key":"workspace_groups","id":"2336765"},{"key":"workspace_groups","id":"3149455"},{"key":"workspace_groups","id":"3045305"},{"key":"workspace_groups","id":"3119975"},{"key":"workspace_groups","id":"3124235"},{"key":"workspace_groups","id":"3174215"},{"key":"workspace_groups","id":"2193795"},{"key":"workspace_groups","id":"2186125"},{"key":"workspace_groups","id":"3010795"},{"key":"workspace_groups","id":"2186135"},{"key":"workspace_groups","id":"2186145"},{"key":"workspace_groups","id":"2186155"}],"workspace_groups":{"2186095":{"created_at":"2019-08-19T09:41:55-07:00","updated_at":"2021-02-02T10:48:33-08:00","name":"3AYEZ,
        INC.","company":false,"contact_name":null,"email":null,"phone_number":null,"address":null,"website":null,"notes":"","id":"2186095"},"2186105":{"created_at":"2019-08-19T09:41:55-07:00","updated_at":"2020-04-28T08:48:58-07:00","name":"3DBEAR,
        INC.","company":true,"contact_name":"Jussi Kajala","email":"jussi@3dbear.io","phone_number":null,"address":null,"website":null,"notes":null,"id":"2186105"},"2186115":{"created_at":"2019-08-19T09:41:55-07:00","updated_at":"2020-04-28T08:49:05-07:00","name":"3SCAN,
        INC.","company":true,"contact_name":"3scan Team","email":"invoices@3scan.com","phone_number"[...]
