---
http_interactions:
- request:
    method: post
    uri: https://api.mavenlink.com/api/v1/external_payments
    body:
      encoding: UTF-8
      string: external_payment[workspace_id]=36380125&external_payment[invoice_id]=10662795
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"fc43d8b51547b372ee3b7b61029d7b9e"
    body:
      encoding: UTF-8
      string: '{"count":1,"results":[{"key":"external_payments","id":"7227375"}],"external_payments":{"7227375":{"created_at":"2021-06-23T05:33:44-07:00","updated_at":"2021-06-23T05:33:44-07:00","user_id":"12069395","amount_in_cents":1000,"message":null,"invoice_id":"10662795","workspace_id":"36380125","id":"7227375"}},"meta":{"count":1,"page_count":1,"page_number":1,"page_size":20}}'
  recorded_at: Wed, 23 Jun 2021 12:33:44 GMT
recorded_with: VCR 5.0.0
