---
http_interactions:
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/invoices
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"e9d3607157bc8d58413bba7d388fe637"
    body:
      encoding: UTF-8
      string: '{"count":3113,"results":[{"key":"invoices","id":"8409475"},{"key":"invoices","id":"8409465"},{"key":"invoices","id":"8409455"},{"key":"invoices","id":"8409425"},{"key":"invoices","id":"8405065"},{"key":"invoices","id":"8409345"},{"key":"invoices","id":"8409335"},{"key":"invoices","id":"8408095"},{"key":"invoices","id":"8402245"},{"key":"invoices","id":"8402235"},{"key":"invoices","id":"8402225"},{"key":"invoices","id":"8402215"},{"key":"invoices","id":"8402205"},{"key":"invoices","id":"8402095"},{"key":"invoices","id":"8398595"},{"key":"invoices","id":"8395185"},{"key":"invoices","id":"8394395"},{"key":"invoices","id":"8394345"},{"key":"invoices","id":"8391215"},{"key":"invoices","id":"8391195"}],"invoices":{"8409475":{"created_at":"2020-03-12T23:49:07-07:00","updated_at":"2020-03-12T23:49:07-07:00","invoice_date":"2020-02-29","due_date":"2020-03-30","status":"new","title":"Invoice
        #12548","user_invoice_number":12548,"user_invoice_title":"","tax_rate":0.0,"purchase_order":"","project_code":"","message":"","draft":false,"payment_schedule":30,"balance_in_cents":18750,"currency":"USD","currency_symbol":"$","currency_base_unit":100,"recipient_id":null,"user_id":"13108775","id":"8409475"},"8409465":{"created_at":"2020-03-12T23:46:53-07:00","updated_at":"2020-03-12T23:46:53-07:00","invoice_date":"2020-02-29","due_date":"2020-03-30","status":"new","title":"Invoice
        #12547","user_invoice_number":12547,"user_invoice_title":"","tax_rate":0.0,"purchase_order":"","project_code":"","message":"","draft":false,"payment_schedule":30,"balance_in_cents":400000,"currency":"USD","currency_symbol":"$","currency_base_unit":100,"recipient_id":null,"user_id":"13108[...]
