---
http_interactions:
- request:
    method: post
    uri: https://api.mavenlink.com/api/v1/invoices
    body:
      encoding: UTF-8
      string: invoice[workspace_id]=36380125&invoice[payment_schedule]=0&invoice[draft]=false&invoice[fixed_fee_items][][story_id]=713894615&invoice[fixed_fee_items][][notes]=Monthly%20MCP%20Charge&invoice[fixed_fee_items][][amount]=500
    headers:
      Authorization:
      - Bearer <API_TOKEN>
      Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"1716e077f7b24d3c88a4e0bff78a192e"
    body:
      encoding: UTF-8
      string: '{"count":1,"results":[{"key":"invoices","id":"10665915"}],"invoices":{"10665915":{"created_at":"2021-02-22T08:18:53-08:00","updated_at":"2021-02-22T08:18:53-08:00","invoice_date":"2021-02-22","due_date":"2021-02-22","status":"new","title":"Invoice
        #19049","user_invoice_number":19049,"user_invoice_title":null,"tax_rate":0.0,"purchase_order":null,"project_code":null,"message":null,"draft":false,"payment_schedule":0,"balance_in_cents":50000,"currency":"USD","currency_symbol":"$","currency_base_unit":100,"recipient_id":null,"user_id":"12069395","id":"10665915"}},"meta":{"count":1,"page_count":1,"page_number":1,"page_size":20}}'
  recorded_at: Mon, 22 Feb 2021 16:18:53 GMT
recorded_with: VCR 5.0.0
