---
http_interactions:
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/invoices
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"2fcc9130a4c6fd9a21a648c638c395a8"
    body:
      encoding: UTF-8
      string: '{"count":9616,"results":[{"key":"invoices","id":"10665885"},{"key":"invoices","id":"10665875"},{"key":"invoices","id":"10665795"},{"key":"invoices","id":"10664855"},{"key":"invoices","id":"10664845"},{"key":"invoices","id":"10664835"},{"key":"invoices","id":"10664825"},{"key":"invoices","id":"10664815"},{"key":"invoices","id":"10664805"},{"key":"invoices","id":"10664795"},{"key":"invoices","id":"10664775"},{"key":"invoices","id":"10664765"},{"key":"invoices","id":"10664755"},{"key":"invoices","id":"10664425"},{"key":"invoices","id":"10664375"},{"key":"invoices","id":"10664365"},{"key":"invoices","id":"10664355"},{"key":"invoices","id":"10664335"},{"key":"invoices","id":"10664315"},{"key":"invoices","id":"10664305"}],"invoices":{"10665885":{"created_at":"2021-02-22T08:16:52-08:00","updated_at":"2021-02-22T08:16:52-08:00","invoice_date":"2021-02-22","due_date":"2021-02-22","status":"new","title":"Invoice
        #19048","user_invoice_number":19048,"user_invoice_title":null,"tax_rate":0.0,"purchase_order":null,"project_code":null,"message":null,"draft":false,"payment_schedule":0,"balance_in_cents":50000,"currency":"USD","currency_symbol":"$","currency_base_unit":100,"recipient_id":null,"user_id":"12069395","id":"10665885"},"10665875":{"created_at":"2021-02-22T08:16:07-08:00","updated_at":"2021-02-22T08:16:07-08:00","invoice_date":"2021-02-22","due_date":"2021-02-22","status":"new","title":"Invoice
        #19047","user_invoice_number":19047,"user_invoice_title":null,"tax_rate":0.0,"purchase_order":null,"project_code":null,"message":null,"draft":false,"payment_schedule":0,"balance_in_cents":50000,"currency":"USD","currency_symbol":"$","currency_base_unit":100,"recipient_id":null,"user_id[...]
