---
http_interactions:
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/invoices
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"a4f26b7fb6cd2ad19b2e87fd1b9002c5"
    body:
      encoding: UTF-8
      string: '{"count":3672,"results":[{"key":"invoices","id":"8639685"},{"key":"invoices","id":"8639665"},{"key":"invoices","id":"8639645"},{"key":"invoices","id":"8639605"},{"key":"invoices","id":"8639595"},{"key":"invoices","id":"8639535"},{"key":"invoices","id":"8639505"},{"key":"invoices","id":"8639495"},{"key":"invoices","id":"8639475"},{"key":"invoices","id":"8639455"},{"key":"invoices","id":"8639445"},{"key":"invoices","id":"8639425"},{"key":"invoices","id":"8639415"},{"key":"invoices","id":"8639395"},{"key":"invoices","id":"8639385"},{"key":"invoices","id":"8639015"},{"key":"invoices","id":"8639005"},{"key":"invoices","id":"8638995"},{"key":"invoices","id":"8638985"},{"key":"invoices","id":"8638975"}],"invoices":{"8639685":{"created_at":"2020-04-22T22:40:37-07:00","updated_at":"2020-04-22T22:45:55-07:00","invoice_date":"2020-03-31","due_date":"2020-04-30","status":"accepted
        payment","title":"Invoice #13107","user_invoice_number":13107,"user_invoice_title":"","tax_rate":0.0,"purchase_order":"","project_code":"","message":"","draft":false,"payment_schedule":30,"balance_in_cents":240000,"currency":"USD","currency_symbol":"$","currency_base_unit":100,"recipient_id":null,"user_id":"13108775","id":"8639685"},"8639665":{"created_at":"2020-04-22T22:35:52-07:00","updated_at":"2020-04-22T22:36:45-07:00","invoice_date":"2020-03-31","due_date":"2020-04-30","status":"accepted
        payment","title":"Invoice #13106","user_invoice_number":13106,"user_invoice_title":"","tax_rate":0.0,"purchase_order":"","project_code":"","message":"","draft":false,"payment_schedule":30,"balance_in_cents":70000,"currency":"USD","currency_symbol":"$","currency_base_unit":100,"recipient_id":null,"use[...]
