---
http_interactions:
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/invoices
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"f202a543c61be5282ae07ee7f4f7cea6"
    body:
      encoding: UTF-8
      string: '{"count":9520,"results":[{"key":"invoices","id":"10645295"},{"key":"invoices","id":"10645245"},{"key":"invoices","id":"10643465"},{"key":"invoices","id":"10643415"},{"key":"invoices","id":"10643395"},{"key":"invoices","id":"10643375"},{"key":"invoices","id":"10643355"},{"key":"invoices","id":"10643335"},{"key":"invoices","id":"10643285"},{"key":"invoices","id":"10643245"},{"key":"invoices","id":"10643215"},{"key":"invoices","id":"10643195"},{"key":"invoices","id":"10643165"},{"key":"invoices","id":"10643135"},{"key":"invoices","id":"10643125"},{"key":"invoices","id":"10643115"},{"key":"invoices","id":"10643065"},{"key":"invoices","id":"10643055"},{"key":"invoices","id":"10643005"},{"key":"invoices","id":"10642895"}],"invoices":{"10645295":{"created_at":"2021-02-17T06:33:56-08:00","updated_at":"2021-02-17T06:33:56-08:00","invoice_date":"2021-02-17","due_date":"2021-03-19","status":"new","title":"Invoice
        #18955","user_invoice_number":18955,"user_invoice_title":"","tax_rate":0.0,"purchase_order":"","project_code":"","message":"","draft":false,"payment_schedule":30,"balance_in_cents":68433,"currency":"USD","currency_symbol":"$","currency_base_unit":100,"recipient_id":null,"user_id":"16608105","id":"10645295"},"10645245":{"created_at":"2021-02-17T06:25:20-08:00","updated_at":"2021-02-17T06:25:20-08:00","invoice_date":"2021-02-17","due_date":"2021-02-17","status":"new","title":"Invoice
        #18954","user_invoice_number":18954,"user_invoice_title":"","tax_rate":0.0,"purchase_order":"","project_code":"","message":"","draft":false,"payment_schedule":0,"balance_in_cents":50000,"currency":"USD","currency_symbol":"$","currency_base_unit":100,"recipient_id":null,"user_id":"16608[...]
