---
http_interactions:
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/invoices/8185325?include=time_entries,fixed_fee_items
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"1902412ef11d53f83ca6ba49f0e3c752"
    body:
      encoding: UTF-8
      string: '{"count":1,"results":[{"key":"invoices","id":"8185325"}],"invoices":{"8185325":{"created_at":"2020-02-10T19:12:32-08:00","updated_at":"2020-03-02T13:32:27-08:00","invoice_date":"2020-01-31","due_date":"2020-03-01","status":"accepted
        payment","title":"Invoice #11837","user_invoice_number":11837,"user_invoice_title":"","tax_rate":0.0,"purchase_order":"","project_code":"","message":"","draft":false,"payment_schedule":30,"balance_in_cents":19600,"currency":"USD","currency_symbol":"$","currency_base_unit":100,"recipient_id":null,"user_id":"13108775","time_entry_ids":["1325852305"],"fixed_fee_item_ids":[],"id":"8185325"}},"meta":{"count":1,"page_count":1,"page_number":1,"page_size":20},"time_entries":{"1325852305":{"location":null,"created_at":"2020-01-31T00:31:02-08:00","updated_at":"2020-01-31T00:31:25-08:00","date_performed":"2020-01-14","time_in_minutes":84,"billable":true,"notes":"updating
        thorugh 1/2/20","rate_in_cents":14000,"cost_rate_in_cents":7000,"currency":"USD","currency_symbol":"$","currency_base_unit":100,"user_can_edit":false,"approved":false,"taxable":false,"is_invoiced":true,"story_id":"453338885","workspace_id":"27254345","user_id":"11981215","active_submission_id":null,"recent_submission_id":null,"id":"1325852305"}},"fixed_fee_items":{}}'
  recorded_at: Tue, 22 Jun 2021 23:57:58 GMT
recorded_with: VCR 5.0.0
