---
http_interactions:
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/custom_field_values?subject_type=workspace_group
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"e5f7ae78227d61d81c7982c8cd5f410c"
    body:
      encoding: UTF-8
      string: '{"count":85,"results":[{"key":"custom_field_values","id":"314259865"},{"key":"custom_field_values","id":"329791525"},{"key":"custom_field_values","id":"333644625"},{"key":"custom_field_values","id":"333644735"},{"key":"custom_field_values","id":"333645385"},{"key":"custom_field_values","id":"333645415"},{"key":"custom_field_values","id":"337752335"},{"key":"custom_field_values","id":"337752345"},{"key":"custom_field_values","id":"337752355"},{"key":"custom_field_values","id":"337752365"},{"key":"custom_field_values","id":"337752455"},{"key":"custom_field_values","id":"337752525"},{"key":"custom_field_values","id":"340408075"},{"key":"custom_field_values","id":"340408125"},{"key":"custom_field_values","id":"340915055"},{"key":"custom_field_values","id":"340915885"},{"key":"custom_field_values","id":"340915915"},{"key":"custom_field_values","id":"340916555"},{"key":"custom_field_values","id":"340931705"},{"key":"custom_field_values","id":"340995525"}],"custom_field_values":{"314259865":{"subject_type":"workspace_group","subject_id":2223265,"value":"cus_FxpO6Tatea1K3y","account_id":6300575,"custom_field_name":"Stripe
        ID","type":"string","display_value":"cus_FxpO6Tatea1K3y","can_edit":true,"created_at":"2020-01-02T12:30:06-08:00","updated_at":"2020-01-02T12:30:06-08:00","custom_field_id":"602325","setter_id":"12304555","id":"314259865"},"329791525":{"subject_type":"workspace_group","subject_id":2551145,"value":"cus_GrBlkqkgd6INFy","account_id":6300575,"custom_field_name":"Stripe
        ID","type":"string","display_value":"cus_GrBlkqkgd6INFy","can_edit":true,"created_at":"2020-03-05T15:48:48-08:00","updated_at":"2020-03-05T15:48:48-08:00","custom_field_id":"602325","setter_id":"12069395","id":"329791525"},"333644625":{"subject_type":"workspace_group","subject_id":2186105,"value":"cus_H8bSJlqThGB0eY"[...]
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/custom_field_values?page=2&subject_type=workspace_group
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"77b183124d91b689da974a4328c93e2d"
    body:
      encoding: UTF-8
      string:[...]
[...]
