---
http_interactions:
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/stories?workspace_id=27254285
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"08f515683740d0b5f27de338f5b28d3a"
    body:
      encoding: UTF-8
      string: '{"count":5,"results":[{"key":"stories","id":"464578615"},{"key":"stories","id":"548635725"},{"key":"stories","id":"658564825"},{"key":"stories","id":"595318315"},{"key":"stories","id":"619101715"}],"stories":{"464578615":{"title":"Consulting","description":null,"updated_at":"2021-01-05T21:40:01-08:00","assignment_timestamped_at":"2021-01-05T21:40:01-08:00","created_at":"2019-09-20T13:47:37-07:00","due_date":null,"start_date":null,"story_type":"task","state":"started","position":99920000,"archived":false,"deleted_at":null,"sub_story_count":0,"percentage_complete":0,"priority":"normal","has_proofing_access":false,"ancestor_ids":[],"subtree_depth":0,"ancestry_depth":0,"time_trackable":true,"time_estimate_in_minutes":null,"logged_billable_time_in_minutes":2586,"logged_nonbillable_time_in_minutes":15,"sub_stories_time_estimate_in_minutes":null,"sub_stories_billable_time_in_minutes":null,"weight":null,"budget_estimate_in_cents":null,"budget_used_in_cents":548212,"uninvoiced_balance_in_cents":17000,"invoiced_balance_in_cents":531212,"sub_stories_budget_estimate_in_cents":null,"sub_stories_budget_used_in_cents":null,"fixed_fee":false,"billable":true,"workspace_id":"27254285","creator_id":"12056955","parent_id":null,"root_id":null,"id":"464578615"},"548635725":{"title":"Bill.com
        Fee","description":null,"updated_at":"2021-01-05T21:40:01-08:00","assignment_timestamped_at":"2021-01-05T21:40:01-08:00","created_at":"2020-05-04T14:10:56-07:00","due_date":null,"start_date":null,"story_type":"task","state":"started","position":99910000,"archived":false,"deleted_at":null,"sub_story_count":0,"percentage_complete":0,"priority":"normal","has_proofing_access":false,"ancestor_ids":[],"subtree_depth":0,"ancestry_depth":0,"t[...]
