---
http_interactions:
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/invoices
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"count":2402,"results":[{"key":"invoices","id":"8185325"},{"key":"invoices","id":"8185315"},{"key":"invoices","id":"8185305"},{"key":"invoices","id":"8185295"},{"key":"invoices","id":"8169005"},{"key":"invoices","id":"8168995"},{"key":"invoices","id":"8168985"},{"key":"invoices","id":"8168965"},{"key":"invoices","id":"8168955"},{"key":"invoices","id":"8168935"},{"key":"invoices","id":"8168925"},{"key":"invoices","id":"8168915"},{"key":"invoices","id":"8168885"},{"key":"invoices","id":"8168875"},{"key":"invoices","id":"8168865"},{"key":"invoices","id":"8168835"},{"key":"invoices","id":"8168815"},{"key":"invoices","id":"8168795"},{"key":"invoices","id":"8168755"},{"key":"invoices","id":"8168725"}],"invoices":{"8185325":{"created_at":"2020-02-08T00:15:54-08:00","updated_at":"2020-02-08T00:15:54-08:00","invoice_date":"2020-01-31","due_date":"2020-03-01","status":"new","title":"Draft
        Invoice #11837","user_invoice_number":11837,"user_invoice_title":"","tax_rate":0.0,"purchase_order":"","project_code":"","message":"","draft":true,"payment_schedule":30,"balance_in_cents":19600,"currency":"USD","currency_symbol":"$","currency_base_unit":100,"recipient_id":null,"user_id":"13108775","id":"8185325"},"8185315":{"created_at":"2020-02-08T00:10:09-08:00","updated_at":"2020-02-08T00:11:28-08:00","invoice_date":"2020-01-31","due_date":"2020-03-01","status":"new","title":"Draft
        Invoice #11836","user_invoice_number":11836,"user_invoice_title":"","tax_rate":0.0,"purchase_order":"","project_code":"","message":"","draft":true,"payment_schedule":30,"balance_in_cents":23800,"currency":"USD","currency_symbol":"$","currency_base_unit":100,"recipient_id":null,"user_id":"1[...]
