---
http_interactions:
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/custom_field_values/314259865
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"5732dbc3f68aac12af61ade2e570480d"
    body:
      encoding: UTF-8
      string: '{"count":1,"results":[{"key":"custom_field_values","id":"314259865"}],"custom_field_values":{"314259865":{"subject_type":"workspace_group","subject_id":2223265,"value":"cus_FxpO6Tatea1K3y","account_id":6300575,"custom_field_name":"Stripe
        ID","type":"string","display_value":"cus_FxpO6Tatea1K3y","can_edit":true,"created_at":"2020-01-02T12:30:06-08:00","updated_at":"2020-01-02T12:30:06-08:00","custom_field_id":"602325","setter_id":"12304555","id":"314259865"}},"meta":{"count":1,"page_count":1,"page_number":1,"page_size":20}}'
  recorded_at: Wed, 17 Feb 2021 15:45:38 GMT
recorded_with: VCR 5.0.0
