---
http_interactions:
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/stories/713895605
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"59c9f0e391663b8fe6d6a5ae705db331"
    body:
      encoding: UTF-8
      string: '{"count":1,"results":[{"key":"stories","id":"713895605"}],"stories":{"713895605":{"title":"2021.12
        [MCP] Monthly Close Process","description":"","updated_at":"2021-02-16T17:22:50-08:00","assignment_timestamped_at":"2021-02-16T17:22:50-08:00","created_at":"2021-02-16T17:20:12-08:00","due_date":"2021-12-09","start_date":"2021-11-23","story_type":"milestone","state":"not
        started","position":100024998,"archived":false,"deleted_at":null,"sub_story_count":8,"percentage_complete":0,"priority":"normal","has_proofing_access":false,"ancestor_ids":[],"subtree_depth":1,"ancestry_depth":0,"time_trackable":true,"time_estimate_in_minutes":0,"logged_billable_time_in_minutes":0,"logged_nonbillable_time_in_minutes":0,"sub_stories_time_estimate_in_minutes":0,"sub_stories_billable_time_in_minutes":null,"weight":null,"budget_estimate_in_cents":100000,"budget_used_in_cents":0,"uninvoiced_balance_in_cents":0,"invoiced_balance_in_cents":0,"sub_stories_budget_estimate_in_cents":0,"sub_stories_budget_used_in_cents":null,"fixed_fee":true,"billable":true,"workspace_id":"36380125","creator_id":"11962035","parent_id":null,"root_id":null,"id":"713895605"}},"meta":{"count":1,"page_count":1,"page_number":1,"page_size":20}}'
  recorded_at: Mon, 22 Feb 2021 15:45:57 GMT
recorded_with: VCR 5.0.0
