---
http_interactions:
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/stories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"fc4a4bc37ec4d72c003a8736bc8a1253"
    body:
      encoding: UTF-8
      string: '{"count":53325,"results":[{"key":"stories","id":"653235465"},{"key":"stories","id":"653235505"},{"key":"stories","id":"684643815"},{"key":"stories","id":"684644195"},{"key":"stories","id":"684644205"},{"key":"stories","id":"653235495"},{"key":"stories","id":"652538055"},{"key":"stories","id":"652538115"},{"key":"stories","id":"652538105"},{"key":"stories","id":"652537965"},{"key":"stories","id":"652538005"},{"key":"stories","id":"682005015"},{"key":"stories","id":"682005035"},{"key":"stories","id":"654596095"},{"key":"stories","id":"654596235"},{"key":"stories","id":"650614945"},{"key":"stories","id":"650615015"},{"key":"stories","id":"651917825"},{"key":"stories","id":"651917895"},{"key":"stories","id":"652528035"}],"stories":{"653235465":{"title":"2021.02
        [MCP] Monthly Close Process","description":"","updated_at":"2021-02-22T07:45:45-08:00","assignment_timestamped_at":"2021-02-22T07:45:45-08:00","created_at":"2020-12-14T12:44:05-08:00","due_date":"2021-02-18","start_date":"2021-02-04","story_type":"milestone","state":"started","position":100030000,"archived":false,"deleted_at":null,"sub_story_count":8,"percentage_complete":62,"priority":"normal","has_proofing_access":false,"ancestor_ids":[],"subtree_depth":1,"ancestry_depth":0,"time_trackable":true,"time_estimate_in_minutes":0,"logged_billable_time_in_minutes":0,"logged_nonbillable_time_in_minutes":0,"sub_stories_time_estimate_in_minutes":275,"sub_stories_billable_time_in_minutes":253,"weight":null,"budget_estimate_in_cents":45000,"budget_used_in_cents":0,"uninvoiced_balance_in_cents":0,"invoiced_balance_in_cents":0,"sub_stories_budget_estimate_in_cents":0,"sub_stories_budget_used_in_cents":38925,"fixed_fee":true,"billable":true,"workspace_id":"34874385","creator_id":"12220595","parent_id":null,"root_id":null,"id":"653235465"},"653235505":{"title":"3LR","description":"","updated_at":"2021-02-22T07:45:45-08:00","assignment_timestamped_at":"2021-02-22T07:45:45-08:00","created_at":"2020-12-14T12:44:05-08:00","due_date":"2021-02-16","start_date":"2021-02-16","story_type":"task","state":"completed","position":100030000,"archived":false,"deleted_at":null,"sub_story_count":0,"percentage_complete":100,"priority":"normal","has_proofing_access":false,"ancestor_ids":["653235465"],"subtree_depth":0,"ancestr[...]
