---
http_interactions:
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/invoices/8185325
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"count":1,"results":[{"key":"invoices","id":"8185325"}],"invoices":{"8185325":{"created_at":"2020-02-08T00:15:54-08:00","updated_at":"2020-02-08T00:15:54-08:00","invoice_date":"2020-01-31","due_date":"2020-03-01","status":"new","title":"Draft
        Invoice #11837","user_invoice_number":11837,"user_invoice_title":"","tax_rate":0.0,"purchase_order":"","project_code":"","message":"","draft":true,"payment_schedule":30,"balance_in_cents":19600,"currency":"USD","currency_symbol":"$","currency_base_unit":100,"recipient_id":null,"user_id":"13108775","id":"8185325"}},"meta":{"count":1,"page_count":1,"page_number":1,"page_size":20}}'
  recorded_at: Sun, 09 Feb 2020 22:23:21 GMT
recorded_with: VCR 5.0.0
