---
http_interactions:
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/workspace_groups/2551145
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"fa03fe4530947164a5a667189e1586e5"
    body:
      encoding: UTF-8
      string: '{"count":1,"results":[{"key":"workspace_groups","id":"2551145"}],"workspace_groups":{"2551145":{"created_at":"2020-01-30T02:18:11-08:00","updated_at":"2020-03-05T15:48:48-08:00","name":"DRAGON
        DROP TEST","company":true,"contact_name":"Jonathan Bowen","email":"jonathan@dragondrop.uk","phone_number":"","address":"","website":"","notes":"Test
        client for Stripe Integration","id":"2551145"}},"meta":{"count":1,"page_count":1,"page_number":1,"page_size":20}}'
  recorded_at: Thu, 23 Apr 2020 11:57:42 GMT
recorded_with: VCR 5.0.0
