---
http_interactions:
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/workspace_groups/2551145
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"count":1,"results":[{"key":"workspace_groups","id":"2551145"}],"workspace_groups":{"2551145":{"created_at":"2020-01-30T02:18:11-08:00","updated_at":"2020-01-30T02:18:11-08:00","name":"DRAGON
        DROP TEST","company":true,"contact_name":"Jonathan Bowen","email":"jonathan@dragondrop.uk","phone_number":"","address":"","website":"","notes":"Test
        client for Stripe Integration","id":"2551145"}},"meta":{"count":1,"page_count":1,"page_number":1,"page_size":20}}'
  recorded_at: Sun, 09 Feb 2020 22:23:23 GMT
recorded_with: VCR 5.0.0
