---
http_interactions:
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/workspaces
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"count":1399,"results":[{"key":"workspaces","id":"29033585"},{"key":"workspaces","id":"29235955"},{"key":"workspaces","id":"28992645"},{"key":"workspaces","id":"27257165"},{"key":"workspaces","id":"27256405"},{"key":"workspaces","id":"28992765"},{"key":"workspaces","id":"29033065"},{"key":"workspaces","id":"29033035"},{"key":"workspaces","id":"27257455"},{"key":"workspaces","id":"27260515"},{"key":"workspaces","id":"27256225"},{"key":"workspaces","id":"27697075"},{"key":"workspaces","id":"27254345"},{"key":"workspaces","id":"27254285"},{"key":"workspaces","id":"27254245"},{"key":"workspaces","id":"27254165"},{"key":"workspaces","id":"27259875"},{"key":"workspaces","id":"27259615"},{"key":"workspaces","id":"28103805"},{"key":"workspaces","id":"27255605"}],"workspaces":{"29033585":{"title":"MCP
        - AVENUE 8 INC","account_id":6300575,"archived":false,"description":"","due_date":"","effective_due_date":"","start_date":"2019-12-26","budgeted":true,"change_orders_enabled":false,"updated_at":"2020-02-08T10:49:58-08:00","created_at":"2019-12-27T14:16:34-08:00","consultant_role_name":"Kruze
        Consulting","client_role_name":"Clients","percentage_complete":40,"access_level":"admins","exclude_archived_stories_percent_complete":false,"show_nonbillable_time_on_invoices":true,"can_create_line_items":false,"default_rate":"0.00","currency":"USD","currency_symbol":"$","currency_base_unit":100,"can_invite":null,"has_budget_access":true,"tasks_default_non_billable":false,"rate_card_id":647755,"workspace_invoice_preference_id":null,"posts_require_privacy_decision":false,"require_time_approvals":false,"require_expense_approvals":false,"has_active_timesheet_submissions":false,"has_active_expense_report_submissions":false,"status":{"color":"green","key":300,"message":"Active"},"update_whitelist":["title","budgeted","start_date","due_date","description","currency","access_level","consultant_role_name","client_role_name","rate_card_id","exclude_archived_stories_percent_complete","tasks_default_non_billable","stories_are_fixed_fee_by_default","expenses_in_burn_rate","posts_require_privacy_decision","status_key","invoice_preference","approver_id","approver_ids","workspace_group_ids","project_template_start_date","project_template_assignment_mappings","project_template_weekends_as_workdays","project_template_create_unnamed_resources","project_tracker_template_id","target_margin","external_reference","account_color_id","show_nonbillable_time_on_invoices","archived","price","project_template_before_story_id","change_orders_enabled"],"account_features":{"time_trackable":false,"has_time_entry_role_picker":false,"project_side_panel":false},"permissions":{"can_upload_files":false,"can_private_message":true,"can_join":true,"is_participant":false,"access_level":null,"team_lead":null,"user_is_client":null,"can_change_price":false,"can_change_story_billable":false,"can_post":false,"can_edit":false,"restricted":null,"can_see_financials":false,"is_guest_on_project":false},"over_budget":false,"expenses_in_burn_rate":true,"total_expenses_in_cents":0,"price_in_cents":null,"price":"TBD","percent_of_budget_used":0,"budget_used":"$1,599","budget_used_in_cents":159999,"budget_remaining":null,"target_margin":null,"creator_id":"12304555","primary_maven_id":"11962045","id":"29033585"},"29235955":{"title":"MCP
        - MOCHILA FULFILLMENT LLC","account_id":6300575,"archived":false,"description":"This
        template is used to track time against the Monthly Close Process (billable)","due_date":"","effective_due_date":"","start_date":"2020-01-06","budgeted":true,"change_orders_enabled":false,"updated_at":"2020-02-08T10:27:57-08:00","created_at":"2020-01-07T08:31:03-08:00","consultant_role_name":"Kruze
        Consulting","client_role_name":"Clients[...]
