---
http_interactions:
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/workspaces
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"e3581735f34da88aed85705b479eefbf"
    body:
      encoding: UTF-8
      string: '{"count":1529,"results":[{"key":"workspaces","id":"29236685"},{"key":"workspaces","id":"30057055"},{"key":"workspaces","id":"27883195"},{"key":"workspaces","id":"27258545"},{"key":"workspaces","id":"27255495"},{"key":"workspaces","id":"27257135"},{"key":"workspaces","id":"27257455"},{"key":"workspaces","id":"28954305"},{"key":"workspaces","id":"30629925"},{"key":"workspaces","id":"27597845"},{"key":"workspaces","id":"27555165"},{"key":"workspaces","id":"27256215"},{"key":"workspaces","id":"27697075"},{"key":"workspaces","id":"27254925"},{"key":"workspaces","id":"27258425"},{"key":"workspaces","id":"27258705"},{"key":"workspaces","id":"27260555"},{"key":"workspaces","id":"30210715"},{"key":"workspaces","id":"30214705"},{"key":"workspaces","id":"30500395"}],"workspaces":{"29236685":{"title":"MCP
        - GOVINVEST, INC.","account_id":6300575,"archived":false,"description":"This
        template is used to track time against the Monthly Close Process (billable)","due_date":"","effective_due_date":"","start_date":"2020-01-06","budgeted":true,"change_orders_enabled":false,"updated_at":"2020-04-23T04:56:42-07:00","created_at":"2020-01-07T08:59:47-08:00","consultant_role_name":"Kruze
        Consulting","client_role_name":"Clients","percentage_complete":76,"access_level":"admins","exclude_archived_stories_percent_complete":false,"show_nonbillable_time_on_invoices":true,"can_create_line_items":true,"default_rate":"0.00","currency":"USD","currency_symbol":"$","currency_base_unit":100,"can_invite":true,"has_budget_access":true,"tasks_default_non_billable":false,"rate_card_id":647755,"workspace_invoice_preference_id":null,"posts_require_privacy_decision":false,"require_time_approvals":false,"require_expense_approvals":false,"has_active_timesheet_submissions":false,"has_active_expense_report_submissions":false,"status":{"color":"grey","key":130,"message":"Not
        Started"},"update_whitelist":["title","budgeted","start_date","due_date","description","currency","access_level","consultant_role_name","client_role_name","rate_card_id","exclude_archived_stories_percent_complete","tasks_default_non_billable","stories_are_fixed_fee_by_default","expenses_in_burn_rate","posts_require_privacy_decision","status_key","invoice_preference","approver_id","approver_ids","workspace_group_ids","project_template_start_date","project_template_assignment_mappings","project_template_weekends_as_workdays","project_template_create_unnamed_resources","project_tracker_template_id","target_margin","external_reference","account_color_id","show_nonbillable_time_on_invoices","archived","price","project_template_before_story_id","change_orders_enabled"],"account_features":{"time_trackable":false,"has_time_entry_role_picker":false,"project_side_panel":true},"permissions":{"can_upload_files":true,"can_private_message":true,"can_join":false,"is_participant":true,"access_level":"admin","team_lead":false,"user_is_client":false,"can_change_price":true,"can_change_story_billable":true,"can_post":true,"can_edit":true,"restricted":false,"can_see_financials":true,"is_guest_on_project":false},"over_budget":false,"expenses_in_burn_rate":true,"total_expenses_in_cents":0,"price_in_cents":null,"price":"TBD","percent_of_budget_used":0,"budget_used":"$5,355","budget_used_in_cents":535558,"budget_remaining":null,"target_margin":null,"stories_are_fixed_fee_by_default":true,"creator_id":"12304555","primary_maven_id":"12068105","id":"29236685"},"30057055":{"title":"YOURCHOICE
        THERAPEUTICS, INC. - ONBOARDING","account_id":6300575,"archived":false,"description":"","due_date":"","effective_due_date":"","start_date":"","budgeted":true,"change_orders_enabled":false,"updated_at":"2020-04-23T04:44:18-07:00","created_at":"2020-03-02T18:44:10-08:00","consultant_role_name":"Kruze
        Consulting","client_role_name":"Clients","percentage_complete":96,"access_level":"admins","exclude_archived_stories_percent_[...]
