---
http_interactions:
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/workspaces
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"7b4a1643b5b1e9bfc82439ecead181d7"
    body:
      encoding: UTF-8
      string: '{"count":1272,"results":[{"key":"workspaces","id":"35078315"},{"key":"workspaces","id":"36026855"},{"key":"workspaces","id":"35522435"},{"key":"workspaces","id":"34848755"},{"key":"workspaces","id":"34848685"},{"key":"workspaces","id":"35058405"},{"key":"workspaces","id":"35447775"},{"key":"workspaces","id":"34992245"},{"key":"workspaces","id":"36204075"},{"key":"workspaces","id":"34993165"},{"key":"workspaces","id":"35042775"},{"key":"workspaces","id":"34785595"},{"key":"workspaces","id":"35078525"},{"key":"workspaces","id":"34848595"},{"key":"workspaces","id":"35343545"},{"key":"workspaces","id":"34992145"},{"key":"workspaces","id":"34993335"},{"key":"workspaces","id":"35296695"},{"key":"workspaces","id":"35180595"},{"key":"workspaces","id":"34827305"}],"workspaces":{"35078315":{"title":"ACT
        - INGENUITY FOODS, INC.","account_id":6300575,"archived":false,"description":"","due_date":"","effective_due_date":"","start_date":"2021-01-01","budgeted":true,"change_orders_enabled":false,"updated_at":"2021-02-17T07:45:45-08:00","created_at":"2020-12-17T12:27:45-08:00","consultant_role_name":"Kruze
        Consulting","client_role_name":"Clients","percentage_complete":10,"access_level":"open","exclude_archived_stories_percent_complete":false,"show_nonbillable_time_on_invoices":true,"can_create_line_items":true,"default_rate":"0.00","currency":"USD","currency_symbol":"$","currency_base_unit":100,"can_invite":true,"has_budget_access":true,"tasks_default_non_billable":false,"rate_card_id":1009525,"workspace_invoice_preference_id":6808035,"posts_require_privacy_decision":false,"require_time_approvals":false,"require_expense_approvals":false,"has_active_timesheet_submissions":false,"has_active_expense_report_submissions":false,"status":{"color":"green","key":300,"message":"Active"},"update_whitelist":["title","budgeted","start_date","due_date","description","currency","access_level","consultant_role_name","client_role_name","rate_card_id","exclude_archived_stories_percent_complete","revenue_recognition_method","tasks_default_non_billable","stories_are_fixed_fee_by_default","expenses_in_burn_rate","posts_require_privacy_decision","status_key","invoice_preference","approver_id","approver_ids","workspace_group_ids","project_template_start_date","project_template_assignment_mappings","project_template_weekends_as_workdays","project_template_create_unnamed_resources","project_tracker_template_id","target_margin","external_reference","account_color_id","show_nonbillable_time_on_invoices","archived","price","project_template_before_story_id","change_orders_enabled"],"account_features":{"time_trackable":false,"has_time_entry_role_picker":true,"project_side_panel":true},"permissions":{"can_upload_files":true,"can_private_message":true,"can_join":false,"is_participant":true,"access_level":"admin","team_lead":false,"user_is_client":false,"can_change_price":true,"can_change_story_billable":true,"can_post":true,"can_edit":true,"restricted":false,"can_see_financials":true,"is_guest_on_project":false},"over_budget":false,"expenses_in_burn_rate":false,"total_expenses_in_cents":0,"price_in_cents":null,"price":"TBD","percent_of_budget_used":0,"budget_used":"$4,921","budget_used_in_cents":492125,"budget_remaining":null,"target_margin":null,"stories_are_fixed_fee_by_default":true,"creator_id":"12220595","primary_maven_id":"12068105","id":"35078315"},"36026855":{"title":"STEMMA
        TECHNOLOGIES INC. - ONBOARDING","account_id":6300575,"archived":false,"description":"","due_date":"","effective_due_date":"","start_date":"","budgeted":true,"change_orders_enabled":false,"updated_at":"2021-02-17T07:44:09-08:00","created_at":"2021-02-01T16:22:13-08:00","consultant_role_name":"Kruze
        Consulting","client_role_name":"Clients","percentage_complete":52,"access_level":"open","exclude_archived_stories_percent_complet[...]
