---
http_interactions:
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/workspaces?workspace_groups=2551145
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"5f5d5409ef4ab1bc1d0d84f04c6ac52d"
    body:
      encoding: UTF-8
      string: '{"count":4,"results":[{"key":"workspaces","id":"36380125"},{"key":"workspaces","id":"36380265"},{"key":"workspaces","id":"36380175"},{"key":"workspaces","id":"36380155"}],"workspaces":{"36380125":{"title":"ACT
        - DRAGON DROP (TEST; DO NOT ARCHIVE)","account_id":6300575,"archived":false,"description":"","due_date":"","effective_due_date":"","start_date":"2021-01-01","budgeted":true,"change_orders_enabled":false,"updated_at":"2021-02-17T05:00:05-08:00","created_at":"2021-02-16T17:20:10-08:00","consultant_role_name":"Kruze
        Consulting","client_role_name":"Clients","percentage_complete":0,"access_level":"open","exclude_archived_stories_percent_complete":false,"show_nonbillable_time_on_invoices":true,"can_create_line_items":true,"default_rate":"0.00","currency":"USD","currency_symbol":"$","currency_base_unit":100,"can_invite":true,"has_budget_access":true,"tasks_default_non_billable":false,"rate_card_id":647755,"workspace_invoice_preference_id":7030845,"posts_require_privacy_decision":false,"require_time_approvals":false,"require_expense_approvals":false,"has_active_timesheet_submissions":false,"has_active_expense_report_submissions":false,"status":{"color":"grey","key":130,"message":"Not
        Started"},"update_whitelist":["title","budgeted","start_date","due_date","description","currency","access_level","consultant_role_name","client_role_name","rate_card_id","exclude_archived_stories_percent_complete","revenue_recognition_method","tasks_default_non_billable","stories_are_fixed_fee_by_default","expenses_in_burn_rate","posts_require_privacy_decision","status_key","invoice_preference","approver_id","approver_ids","workspace_group_ids","project_template_start_date","project_template_assignment_mappings","project_template_weekends_as_workdays","project_template_create_unnamed_resources","project_tracker_template_id","target_margin","external_reference","account_color_id","show_nonbillable_time_on_invoices","archived","price","project_template_before_story_id","change_orders_enabled"],"account_features":{"time_trackable":false,"has_time_entry_role_picker":true,"project_side_panel":true},"permissions":{"can_upload_files":true,"can_private_message":true,"can_join":false,"is_participant":true,"access_level":"admin","team_lead":false,"user_is_client":false,"can_change_price":true,"can_change_story_billable":true,"can_post":true,"can_edit":true,"restricted":false,"can_see_financials":true,"is_guest_on_project":false},"over_budget":false,"expenses_in_burn_rate":false,"total_expenses_in_cents":0,"price_in_cents":null,"price":"TBD","percent_of_budget_used":0,"budget_used":"$1,360","budget_used_in_cents":136000,"budget_remaining":null,"target_margin":null,"stories_are_fixed_fee_by_default":true,"creator_id":"11962035","primary_maven_id":"11962035","id":"36380125"},"36380265":{"title":"Client
        Onboarding - DRAGON DROP (TEST; DO NOT ARCHIVE)","account_id":6300575,"archived":false,"description":"","due_date":"","effective_due_date":"","start_date":"","budgeted":true,"change_orders_enabled":false,"updated_at":"2021-02-16T17:58:39-08:00","created_at":"2021-02-16T17:40:59-08:00","consultant_role_name":"Kruze
        Consulting","client_role_name":"DRAGON DROP (TEST; DO NOT ARCHIVE)","percentage_complete":0,"access_level":"open[...]
