---
http_interactions:
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/invoices?include=time_entries,expenses&workspace_id=27254285
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"101a1e32ea1c786e43a7c6921605eae4"
    body:
      encoding: UTF-8
      string: '{"count":22,"results":[{"key":"invoices","id":"10358465"},{"key":"invoices","id":"10175005"},{"key":"invoices","id":"10035645"},{"key":"invoices","id":"9788005"},{"key":"invoices","id":"9558015"},{"key":"invoices","id":"9357215"},{"key":"invoices","id":"9162755"},{"key":"invoices","id":"8972035"},{"key":"invoices","id":"8743955"},{"key":"invoices","id":"8685375"},{"key":"invoices","id":"8596755"},{"key":"invoices","id":"8402215"},{"key":"invoices","id":"8379695"},{"key":"invoices","id":"8185315"},{"key":"invoices","id":"8015835"},{"key":"invoices","id":"7842515"},{"key":"invoices","id":"7661535"},{"key":"invoices","id":"7504085"},{"key":"invoices","id":"7504065"},{"key":"invoices","id":"7503365"}],"invoices":{"10358465":{"created_at":"2021-01-05T21:40:01-08:00","updated_at":"2021-02-10T01:48:51-08:00","invoice_date":"2020-12-31","due_date":"2021-01-30","status":"accepted
        payment","title":"Invoice #17965","user_invoice_number":17965,"user_invoice_title":"","tax_rate":0.0,"purchase_order":"","project_code":"","message":"","draft":false,"payment_schedule":30,"balance_in_cents":79867,"currency":"USD","currency_symbol":"$","currency_base_unit":100,"recipient_id":null,"user_id":"13108775","time_entry_ids":["1785362865","1775792845","1770822015","1768073845","1768328875","1766435435","1761987115","1762687525"],"expense_ids":[],"id":"10358465"},"10175005":{"created_at":"2020-12-05T23:37:51-08:00","updated_at":"2021-01-14T14:28:41-08:00","invoice_date":"2020-11-30","due_date":"2020-12-30","status":"accepted
        payment","title":"Invoice #17275","user_invoice_number":17275,"user_invoice_title":"","tax_rate":0.0,"purchase_order":"","project_code":"","message":"","draft":false,"payment_schedule":30,"balance_in_cents":33175,"currency":"USD","currency_symbol":"$","currency_base_unit":100,"recipient_id":null,"user_id":[...]
