---
http_interactions:
- request:
    method: get
    uri: https://api.mavenlink.com/api/v1/invoices?workspace_id=28370425
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer API_TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"count":3,"results":[{"key":"invoices","id":"8101835"},{"key":"invoices","id":"8101825"},{"key":"invoices","id":"8101815"}],"invoices":{"8101835":{"created_at":"2020-01-30T02:51:43-08:00","updated_at":"2020-01-30T02:51:43-08:00","invoice_date":"2020-01-30","due_date":"2020-02-29","status":"new","title":"Draft
        Invoice #11731","user_invoice_number":11731,"user_invoice_title":"","tax_rate":5.0,"purchase_order":"","project_code":"","message":"","draft":true,"payment_schedule":30,"balance_in_cents":1050,"currency":"USD","currency_symbol":"$","currency_base_unit":100,"recipient_id":null,"user_id":"12069395","id":"8101835"},"8101825":{"created_at":"2020-01-30T02:39:36-08:00","updated_at":"2020-01-30T02:53:42-08:00","invoice_date":"2020-01-30","due_date":"2020-02-29","status":"accepted
        payment","title":"Invoice #11730","user_invoice_number":11730,"user_invoice_title":"","tax_rate":5.0,"purchase_order":"","project_code":"","message":"","draft":false,"payment_schedule":30,"balance_in_cents":1050,"currency":"USD","currency_symbol":"$","currency_base_unit":100,"recipient_id":null,"user_id":"12069395","id":"8101825"},"8101815":{"created_at":"2020-01-30T02:36:32-08:00","updated_at":"2020-01-30T02:37:43-08:00","invoice_date":"2020-01-30","due_date":"2020-02-29","status":"cancelled","title":"Invoice
        #11729","user_invoice_number":11729,"user_invoice_title":"","tax_rate":5.0,"purchase_order":"","project_code":"","message":"","draft":false,"payment_schedule":30,"balance_in_cents":1050,"currency":"USD","currency_symbol":"$","currency_base_unit":100,"recipient_id":null,"user_id":"12069395","id":"8101815"}},"meta":{"count":3,"page_count":1,"page_number":1,"page_size":20}}'
  recorded_at: Sun, 09 Feb 2020 22:22:57 GMT
recorded_with: VCR 5.0.0
